@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/JetBrainsMono-Regular.woff2) format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Doto';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/doto-v1-latin-700.woff2') format('woff2');
}


* {
  font-family: "JetBrains Mono", 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  box-sizing: border-box;
}
*::selection {
  background-color: #dba000;
}

body {
  background-color: #47425d;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

button {
  min-height: 1.75em;
  background-color: #605454;
  color: #fff9dd;
  border: 0;
  border-radius: 4px;
  box-shadow: #493e3e 0 6px;
  transition: all 50ms ease;
  user-select: none;
}
button:active {
  filter: brightness(85%);
  transform: translateY(6px);
  box-shadow: none !important;
}

footer {
  background-color: #493e3e;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer * {
  font-size: 0.75rem;
  text-align: center;
  color: #fff;  
}

.content {
  display: flex;
  flex: 1;
  justify-content: center;
  width: inherit;
  height: 100%;
  margin: 1rem;
  padding-bottom: 2rem;
}

#calculator {
  background-color: #d5d6b9;
  box-shadow:
    #a49b7e 0 0.75em,
    #4a375471 0 0.75em 4px 16px;
  border-radius: 12px;
  width: 12em;
  max-width: 95vw;
  padding: 1.5em 1em;
}

.display {
  background-color: #81736b;
  border: none;
  border-radius: 8px;
  box-shadow:
    inset #b2ac8d 0 4px 0 3px,
    inset #71615a 0 -4px 16px 8px;
  width: 100%;
  font-family: "Doto", 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 1.5em;
  color: #fff9dd;
  text-align: end;
  margin-bottom: 0.75em;
  padding: 0.35em;
}

.btnSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.numBtn {
  background-color: #a69a84;
  box-shadow: #6f625a 0 6px;
  color: #493e3e;
}

#addBtn {
  grid-row: span 2;
}

#clear {
  grid-column: span 2;
}

#clear {
  background-color: #ff8446;
  box-shadow: #af422e 0 6px;
}