* {
  font-family: "JetBrainsMono NF";
  font-size: 1.5rem;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#calculator {
  background-color: #aedcff;
  width: 560px;
  padding: 1rem;
}

.display {
  border: #777 solid 2px;
  height: 4em;
  width: 100%;
  text-align: end;
  padding: 4px 12px;
}

.btnSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btnSection button {
  min-height: 2em;
}

#addBtn {
  grid-row: span 2;
}